# **Challenge 2 Data_Science**
![Gráfico de datos](imagen_datos.jpg)

# **Importar Datos**

In [1]:
# llamar los datos
import pandas as pd
import numpy as np
import requests

url = "https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json"
response = requests.get(url)
df = response.json()

In [2]:
datos = pd.json_normalize(df, sep='_')

In [3]:
datos.head()

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [4]:
datos.tail()

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [5]:
datos.shape

(7267, 21)

In [6]:
datos.columns

Index(['customerID', 'Churn', 'customer_gender', 'customer_SeniorCitizen',
       'customer_Partner', 'customer_Dependents', 'customer_tenure',
       'phone_PhoneService', 'phone_MultipleLines', 'internet_InternetService',
       'internet_OnlineSecurity', 'internet_OnlineBackup',
       'internet_DeviceProtection', 'internet_TechSupport',
       'internet_StreamingTV', 'internet_StreamingMovies', 'account_Contract',
       'account_PaperlessBilling', 'account_PaymentMethod',
       'account_Charges_Monthly', 'account_Charges_Total'],
      dtype='object')

In [7]:
datos.isnull().sum()

customerID                   0
Churn                        0
customer_gender              0
customer_SeniorCitizen       0
customer_Partner             0
customer_Dependents          0
customer_tenure              0
phone_PhoneService           0
phone_MultipleLines          0
internet_InternetService     0
internet_OnlineSecurity      0
internet_OnlineBackup        0
internet_DeviceProtection    0
internet_TechSupport         0
internet_StreamingTV         0
internet_StreamingMovies     0
account_Contract             0
account_PaperlessBilling     0
account_PaymentMethod        0
account_Charges_Monthly      0
account_Charges_Total        0
dtype: int64

In [8]:
type(datos)

pandas.core.frame.DataFrame

In [9]:
datos.dtypes

customerID                    object
Churn                         object
customer_gender               object
customer_SeniorCitizen         int64
customer_Partner              object
customer_Dependents           object
customer_tenure                int64
phone_PhoneService            object
phone_MultipleLines           object
internet_InternetService      object
internet_OnlineSecurity       object
internet_OnlineBackup         object
internet_DeviceProtection     object
internet_TechSupport          object
internet_StreamingTV          object
internet_StreamingMovies      object
account_Contract              object
account_PaperlessBilling      object
account_PaymentMethod         object
account_Charges_Monthly      float64
account_Charges_Total         object
dtype: object

# **Transformar columnas que traen valores  yes,no volveros 1,0**

In [10]:
cols_yes_no = [
    'Churn',
    'customer_Partner',
    'customer_Dependents',
    'phone_PhoneService',
    'phone_MultipleLines',
    'internet_OnlineSecurity',
    'internet_OnlineBackup',
    'internet_DeviceProtection',
    'internet_TechSupport',
    'internet_StreamingTV',
    'internet_StreamingMovies',
    'account_PaperlessBilling'
]

for col in cols_yes_no:
    print(f"Valores únicos en {col}: {datos[col].unique()}")

Valores únicos en Churn: ['No' 'Yes' '']
Valores únicos en customer_Partner: ['Yes' 'No']
Valores únicos en customer_Dependents: ['Yes' 'No']
Valores únicos en phone_PhoneService: ['Yes' 'No']
Valores únicos en phone_MultipleLines: ['No' 'Yes' 'No phone service']
Valores únicos en internet_OnlineSecurity: ['No' 'Yes' 'No internet service']
Valores únicos en internet_OnlineBackup: ['Yes' 'No' 'No internet service']
Valores únicos en internet_DeviceProtection: ['No' 'Yes' 'No internet service']
Valores únicos en internet_TechSupport: ['Yes' 'No' 'No internet service']
Valores únicos en internet_StreamingTV: ['Yes' 'No' 'No internet service']
Valores únicos en internet_StreamingMovies: ['No' 'Yes' 'No internet service']
Valores únicos en account_PaperlessBilling: ['Yes' 'No']

In [11]:
cols_yes_no = [
    'Churn',
    'customer_Partner',
    'customer_Dependents',
    'phone_PhoneService',
    'phone_MultipleLines',
    'internet_OnlineSecurity',
    'internet_OnlineBackup',
    'internet_DeviceProtection',
    'internet_TechSupport',
    'internet_StreamingTV',
    'internet_StreamingMovies',
    'account_PaperlessBilling'
]

for col in cols_yes_no:
    if col == 'Churn':
        # Versión limpia para Churn usando map
        datos[col] = datos[col].map({'Yes': 1, 'No': 0, '': np.nan})
    else:
        # Versión eficiente para otras columnas
        datos[col] = [1 if x == 'Yes' else (0 if x == 'No' else x) for x in datos[col]]

# Verificación
for col in cols_yes_no:
    print(f"{col}: {datos[col].unique()}")

Churn: [ 0.  1. nan]
customer_Partner: [1 0]
customer_Dependents: [1 0]
phone_PhoneService: [1 0]
phone_MultipleLines: [0 1 'No phone service']
internet_OnlineSecurity: [0 1 'No internet service']
internet_OnlineBackup: [1 0 'No internet service']
internet_DeviceProtection: [0 1 'No internet service']
internet_TechSupport: [1 0 'No internet service']
internet_StreamingTV: [1 0 'No internet service']
internet_StreamingMovies: [0 1 'No internet service']
account_PaperlessBilling: [1 0]

In [12]:
datos.head()

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
0,0002-ORFBO,0.0,Female,0,1,1,9,1,0,DSL,...,1,0,1,1,0,One year,1,Mailed check,65.6,593.3
1,0003-MKNFE,0.0,Male,0,0,0,9,1,1,DSL,...,0,0,0,0,1,Month-to-month,0,Mailed check,59.9,542.4
2,0004-TLHLJ,1.0,Male,0,0,0,4,1,0,Fiber optic,...,0,1,0,0,0,Month-to-month,1,Electronic check,73.9,280.85
3,0011-IGKFF,1.0,Male,1,1,0,13,1,0,Fiber optic,...,1,1,0,1,1,Month-to-month,1,Electronic check,98.0,1237.85
4,0013-EXCHZ,1.0,Female,1,1,0,3,1,0,Fiber optic,...,0,0,1,1,0,Month-to-month,1,Mailed check,83.9,267.4

In [13]:
datos.shape

(7267, 21)

In [14]:
datos.dtypes

customerID                    object
Churn                        float64
customer_gender               object
customer_SeniorCitizen         int64
customer_Partner               int64
customer_Dependents            int64
customer_tenure                int64
phone_PhoneService             int64
phone_MultipleLines           object
internet_InternetService      object
internet_OnlineSecurity       object
internet_OnlineBackup         object
internet_DeviceProtection     object
internet_TechSupport          object
internet_StreamingTV          object
internet_StreamingMovies      object
account_Contract              object
account_PaperlessBilling       int64
account_PaymentMethod         object
account_Charges_Monthly      float64
account_Charges_Total         object
dtype: object

In [15]:
# crear columna de 

datos["Cuentas_Diarias"] = (datos["account_Charges_Monthly"] / 30).round(3)

In [16]:
datos.head()

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total,Cuentas_Diarias
0,0002-ORFBO,0.0,Female,0,1,1,9,1,0,DSL,...,0,1,1,0,One year,1,Mailed check,65.6,593.3,2.187
1,0003-MKNFE,0.0,Male,0,0,0,9,1,1,DSL,...,0,0,0,1,Month-to-month,0,Mailed check,59.9,542.4,1.997
2,0004-TLHLJ,1.0,Male,0,0,0,4,1,0,Fiber optic,...,1,0,0,0,Month-to-month,1,Electronic check,73.9,280.85,2.463
3,0011-IGKFF,1.0,Male,1,1,0,13,1,0,Fiber optic,...,1,0,1,1,Month-to-month,1,Electronic check,98.0,1237.85,3.267
4,0013-EXCHZ,1.0,Female,1,1,0,3,1,0,Fiber optic,...,0,1,1,0,Month-to-month,1,Mailed check,83.9,267.4,2.797

In [17]:
(datos["Cuentas_Diarias"].dtype)

dtype('float64')

In [18]:
datos.dtypes

customerID                    object
Churn                        float64
customer_gender               object
customer_SeniorCitizen         int64
customer_Partner               int64
customer_Dependents            int64
customer_tenure                int64
phone_PhoneService             int64
phone_MultipleLines           object
internet_InternetService      object
internet_OnlineSecurity       object
internet_OnlineBackup         object
internet_DeviceProtection     object
internet_TechSupport          object
internet_StreamingTV          object
internet_StreamingMovies      object
account_Contract              object
account_PaperlessBilling       int64
account_PaymentMethod         object
account_Charges_Monthly      float64
account_Charges_Total         object
Cuentas_Diarias              float64
dtype: object

In [19]:
datos.rename(columns={
    "customerID": "ID_Cliente",
    "Churn": "Cancelación",
    "customer_gender": "Género",
    "customer_SeniorCitizen": "Adulto_Mayor",
    "customer_Partner": "Tiene_Pareja",
    "customer_Dependents": "Tiene_Dependientes",
    "customer_tenure": "Meses_Conectado",
    "phone_PhoneService": "Servicio_Teléfono",
    "phone_MultipleLines": "Líneas_Múltiples",
    "internet_InternetService": "Servicio_Internet",
    "internet_OnlineSecurity": "Seguridad_En_Línea",
    "internet_OnlineBackup": "Respaldo_En_Línea",
    "internet_DeviceProtection": "Protección_Dispositivo",
    "internet_TechSupport": "Soporte_Técnico",
    "internet_StreamingTV": "TV_Streaming",
    "internet_StreamingMovies": "Películas_Streaming",
    "account_Contract": "Tipo_Contrato",
    "account_PaperlessBilling": "Factura_Electrónica",
    "account_PaymentMethod": "Método_Pago",
    "account_Charges_Monthly": "Cargos_Mensuales",
    "account_Charges_Total": "Cargos_Totales",
    "Cuentas_Diarias": "Cargos_Diarios"
}, inplace=True)

datos.dtypes

## **Genero un JSON**

In [20]:
# exportamos a JSON el Dataframe

datos.to_json("datos_final.json", orient="records", lines=True)

## **Analisis descriptivo**

In [21]:
# analisis Descriptivo

datos.describe()

,Cancelación,Adulto_Mayor,Tiene_Pareja,Tiene_Dependientes,Meses_Conectado,Servicio_Teléfono,Factura_Electrónica,Cargos_Mensuales,Cargos_Diarios
count,7043.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000
mean,0.265370,0.162653,0.484106,0.300124,32.346498,0.902711,0.593230,64.720098,2.157341
std,0.441561,0.369074,0.499782,0.458343,24.571773,0.296371,0.491265,30.129572,1.004322
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,0.608000
25%,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,35.425000,1.181000
50%,0.000000,0.000000,0.000000,0.000000,29.000000,1.000000,1.000000,70.300000,2.343000
75%,1.000000,0.000000,1.000000,1.000000,55.000000,1.000000,1.000000,89.875000,2.996000
max,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,1.000000,118.750000,3.958000