# **Challenge 2 Data_Science**
![Gráfico de datos](imagen_datos.jpg)

# **Verificar Datos**

In [1]:
# llamar los datos
import pandas as pd
import requests

url = "https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json"
response = requests.get(url)
df = response.json()

In [2]:
datos = pd.json_normalize(df, sep='_')

In [3]:
datos.head()

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [4]:
datos.tail()

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [5]:
datos.shape

(7267, 21)

In [10]:
datos.columns

Index(['customerID', 'Churn', 'customer_gender', 'customer_SeniorCitizen',
       'customer_Partner', 'customer_Dependents', 'customer_tenure',
       'phone_PhoneService', 'phone_MultipleLines', 'internet_InternetService',
       'internet_OnlineSecurity', 'internet_OnlineBackup',
       'internet_DeviceProtection', 'internet_TechSupport',
       'internet_StreamingTV', 'internet_StreamingMovies', 'account_Contract',
       'account_PaperlessBilling', 'account_PaymentMethod',
       'account_Charges_Monthly', 'account_Charges_Total'],
      dtype='object')

In [11]:
datos.isnull().sum()

customerID                   0
Churn                        0
customer_gender              0
customer_SeniorCitizen       0
customer_Partner             0
customer_Dependents          0
customer_tenure              0
phone_PhoneService           0
phone_MultipleLines          0
internet_InternetService     0
internet_OnlineSecurity      0
internet_OnlineBackup        0
internet_DeviceProtection    0
internet_TechSupport         0
internet_StreamingTV         0
internet_StreamingMovies     0
account_Contract             0
account_PaperlessBilling     0
account_PaymentMethod        0
account_Charges_Monthly      0
account_Charges_Total        0
dtype: int64

In [8]:
type(datos)

pandas.core.frame.DataFrame

In [9]:
datos.dtypes

customerID                    object
Churn                         object
customer_gender               object
customer_SeniorCitizen         int64
customer_Partner              object
customer_Dependents           object
customer_tenure                int64
phone_PhoneService            object
phone_MultipleLines           object
internet_InternetService      object
internet_OnlineSecurity       object
internet_OnlineBackup         object
internet_DeviceProtection     object
internet_TechSupport          object
internet_StreamingTV          object
internet_StreamingMovies      object
account_Contract              object
account_PaperlessBilling      object
account_PaymentMethod         object
account_Charges_Monthly      float64
account_Charges_Total         object
dtype: object

# **Transformar columnas que traen valores  yes,no y otro string a Bolean**

In [12]:
cols_yes_no = [
    'Churn',
    'customer_Partner',
    'customer_Dependents',
    'phone_PhoneService',
    'phone_MultipleLines',
    'internet_OnlineSecurity',
    'internet_OnlineBackup',
    'internet_DeviceProtection',
    'internet_TechSupport',
    'internet_StreamingTV',
    'internet_StreamingMovies',
    'account_PaperlessBilling'
]

for col in cols_yes_no:
    print(f"Valores únicos en {col}: {datos[col].unique()}")

Valores únicos en Churn: ['No' 'Yes' '']
Valores únicos en customer_Partner: ['Yes' 'No']
Valores únicos en customer_Dependents: ['Yes' 'No']
Valores únicos en phone_PhoneService: ['Yes' 'No']
Valores únicos en phone_MultipleLines: ['No' 'Yes' 'No phone service']
Valores únicos en internet_OnlineSecurity: ['No' 'Yes' 'No internet service']
Valores únicos en internet_OnlineBackup: ['Yes' 'No' 'No internet service']
Valores únicos en internet_DeviceProtection: ['No' 'Yes' 'No internet service']
Valores únicos en internet_TechSupport: ['Yes' 'No' 'No internet service']
Valores únicos en internet_StreamingTV: ['Yes' 'No' 'No internet service']
Valores únicos en internet_StreamingMovies: ['No' 'Yes' 'No internet service']
Valores únicos en account_PaperlessBilling: ['Yes' 'No']

In [15]:
# Pasaremos a bolena los yes:true,no:false,string que traiga no:false y vacios:none
cols_yes_no = [
    'customer_Partner',
    'customer_Dependents',
    'phone_PhoneService',
    'phone_MultipleLines',
    'internet_OnlineSecurity',
    'internet_OnlineBackup',
    'internet_DeviceProtection',
    'internet_TechSupport',
    'internet_StreamingTV',
    'internet_StreamingMovies',
    'account_PaperlessBilling'
]

# Map para columnas YES/NO
map_dict = {
    'Yes': True,
    'No': False,
    'No internet service': False,
    'No phone service': False,
    '': None  
}

# columna Churn
datos['Churn'] = datos['Churn'].map({
    'Yes': True,
    'No': False,
    '': None
})

# Mapear las otras columnas
for col in cols_yes_no:
    datos[col] = datos[col].map(map_dict)

# Revisión final
print("Cantidad de valores nulos tras el mapeo:")
print(datos[['Churn'] + cols_yes_no].isnull().sum())

print("\nValores únicos después del mapeo:")
for col in ['Churn'] + cols_yes_no:
    print(f"{col}: {datos[col].unique()}")

Cantidad de valores nulos tras el mapeo:
Churn                        7267
customer_Partner             7267
customer_Dependents          7267
phone_PhoneService           7267
phone_MultipleLines          7267
internet_OnlineSecurity      7267
internet_OnlineBackup        7267
internet_DeviceProtection    7267
internet_TechSupport         7267
internet_StreamingTV         7267
internet_StreamingMovies     7267
account_PaperlessBilling     7267
dtype: int64

Valores únicos después del mapeo:
Churn: [nan]
customer_Partner: [nan]
customer_Dependents: [nan]
phone_PhoneService: [nan]
phone_MultipleLines: [nan]
internet_OnlineSecurity: [nan]
internet_OnlineBackup: [nan]
internet_DeviceProtection: [nan]
internet_TechSupport: [nan]
internet_StreamingTV: [nan]
internet_StreamingMovies: [nan]
account_PaperlessBilling: [nan]

In [16]:
datos.head()

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
0,0002-ORFBO,NaN,Female,0,NaN,NaN,9,NaN,NaN,DSL,...,NaN,NaN,NaN,NaN,NaN,One year,NaN,Mailed check,65.6,593.3
1,0003-MKNFE,NaN,Male,0,NaN,NaN,9,NaN,NaN,DSL,...,NaN,NaN,NaN,NaN,NaN,Month-to-month,NaN,Mailed check,59.9,542.4
2,0004-TLHLJ,NaN,Male,0,NaN,NaN,4,NaN,NaN,Fiber optic,...,NaN,NaN,NaN,NaN,NaN,Month-to-month,NaN,Electronic check,73.9,280.85
3,0011-IGKFF,NaN,Male,1,NaN,NaN,13,NaN,NaN,Fiber optic,...,NaN,NaN,NaN,NaN,NaN,Month-to-month,NaN,Electronic check,98.0,1237.85
4,0013-EXCHZ,NaN,Female,1,NaN,NaN,3,NaN,NaN,Fiber optic,...,NaN,NaN,NaN,NaN,NaN,Month-to-month,NaN,Mailed check,83.9,267.4